<div class="container">
    <div class="col">
        <div><a class="nav-link" routerLink="/student" routerLinkActive="active">Create Student</a></div>
        <div><a class="nav-link" routerLink="/subject" routerLinkActive="active">Create Subject</a></div> 
        <div><a class="nav-link" routerLink="/main" routerLinkActive="active">Asignaturas</a></div>
        <div><a class="nav-link" routerLink="/tele" routerLinkActive="active">Listado telematica</a></div>
        <div><a class="nav-link" routerLink="/sis" routerLinkActive="active">Listado sistemas</a></div>
        <div><a class="nav-link" routerLink="/aero" routerLinkActive="active">Listado aeros</a></div>
    <router-outlet></router-outlet>
</div>